In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pyarrow as pa
import pyarrow.parquet as pq
import glob
import warnings
warnings.filterwarnings('ignore')

In [17]:
train = pd.read_csv('/Users/ericp/OneDrive/Documents/GitHub/Optiver/train.csv')
test = pd.read_csv('/Users/ericp/OneDrive/Documents/GitHub/Optiver/test.csv')
book_test = pq.read_table('/Users/ericp/OneDrive/Documents/GitHub/Optiver/book_test.parquet/stock_id=0/stock_zero.parquet').to_pandas()
trade_test = pq.read_table('/Users/ericp/OneDrive/Documents/GitHub/Optiver/trade_test.parquet/stock_id=0/stock_zero.parquet').to_pandas()

In [3]:
order_book_train = glob.glob('/Users/ericp/OneDrive/Documents/GitHub/Optiver/book_train.parquet/*')
trade_book_train = glob.glob('/Users/ericp/OneDrive/Documents/GitHub/Optiver/trade_train.parquet/*')

In [4]:
order_book = []
for book in order_book_train:
    order_book.append(pq.read_table(book).to_pandas())
order_book = pd.concat(order_book, ignore_index = False)

In [5]:
trade_book = []
for book in trade_book_train:
    trade_book.append(pq.read_table(book).to_pandas())
trade_book = pd.concat(trade_book, ignore_index = False)

In [18]:
print('train has {} rows and {} columns'.format(train.shape[0],train.shape[1]))
print('test has {} rows and {} columns'.format(test.shape[0], test.shape[1]))
print('order_book has {} rows and {} columns'.format(order_book.shape[0], order_book.shape[1]))
print('trade_book has {} rows and {} columns'.format(trade_book.shape[0], order_book.shape[1]))
print('book_test has {} rows and {} columns'.format(stock0.shape[0], stock0.shape[1]))
print('trade_test has {} rows and {} columns'.format(stock0_test.shape[0], stock0_test.shape[1]))

train has 428932 rows and 3 columns
test has 3 rows and 3 columns
order_book has 167253289 rows and 10 columns
trade_book has 38382741 rows and 10 columns
book_test has 3 rows and 10 columns
trade_test has 3 rows and 5 columns

In [25]:
stock_id = 0
book_test['stock_id'] = stock_id
trade_test['stock_id'] = stock_id

In [26]:
book_test.head()

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2,stock_id
0,4,0,1.000049,1.000590,0.999656,1.000639,91,100,100,24,0
1,4,1,1.000049,1.000590,0.999656,1.000639,91,100,100,20,0
2,4,5,1.000049,1.000639,0.999656,1.000885,290,20,101,15,0